* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../images/wp11734433.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden; 
}

header {
    margin-top: 70px;
}

.Menu ul {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Menu ul li{
    list-style: none;
    margin-left: 300px;
    margin-top: 27px;
    font-size: 40px;
}

.Menu ul li a {
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition: 0.4s ease-out;
    text-shadow: 0 0 5px rgba(17, 23, 58, 0.5); 
}


.Menu ul li a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}


section
{
    margin-right: 400px;
    margin-left: 150px;
    padding-top: 300px;
}

section .Title
{
    margin-left: 20px;
    margin-top: 60px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 50px;
    transition: 0.4s ease-out;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.9);
}

section .Text
{
    padding-top: 100px;
    padding-left: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 30px;
    transition: 0.4s ease-out;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.9);
}